{% extends 'main_app/base.html' %}

{% block Main %}
    <main id="main">
        <!-- ======= Breadcrumbs ======= -->
        <section class="breadcrumbs">
            <div class="container">

                <ol>
                    <li><a href="{% url 'main_app:index' %}">ГЛАВНАЯ</a></li>
                    <li><a href="#">ПОЛЬЗОВАТЕЛИ</a></li>
                    <li>{{ profile.user }}</li>
                </ol>
                <h2>Профиль пользователя: {{ profile.user }}</h2>

            </div>
        </section><!-- End Breadcrumbs -->
        <section id="blog" class="blog">
            <div class="container" data-aos="fade-up">
                <div class="row">
                    <div class="card border-0">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-3">
                                    <figure>
                                        <img src="{{ profile.avatar.url }}" class="img-fluid rounded-0"
                                             alt="{{ profile }}">
                                    </figure>
                                </div>
                                <div class="col-md-9">
                                    <h5 class="card-title">
                                        {{ profile }}
                                    </h5>
                                    <div class="card-text">
                                        <ul>
                                            <li>Имя пользователя: {{ profile.user.username }}</li>
                                            {% if profile.user.get_full_name %}
                                                <li>Имя и фамилия: {{ profile.user.get_full_name }}</li> {% endif %}
                                            <li>Заходил: {{ profile.user.last_login }}</li>
                                            <li>Дата рождения: {{ profile.birth_date }}</li>
                                            <li>О себе: {{ profile.bio }}</li>
                                        </ul>
                                        <a href="{% url 'customeuser_app:profile_edit' %}"
                                           class="btn btn-sm btn-primary">Редактировать профиль</a>
                                        <a href="{% url 'customeuser_app:password_change' %}"
                                           class="btn btn-sm btn-danger">Изменить пароль</a>
                                        {% if profile.otp %}
                                            <a href="{% url 'customeuser_app:otp_active' object.pk %}"
                                           class="btn btn-sm btn-danger">Выключить двухфакторную авторизацию</a>
                                        {% else %}
                                            <a href="{% url 'customeuser_app:otp_active' object.pk %}"
                                           class="btn btn-sm btn-danger">Включить двухфакторную авторизацию</a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}