{% extends 'main_app/base.html' %}

{% block Breadcrumbs %}
    <!-- ======= Breadcrumbs ======= -->
        <section class="breadcrumbs">
            <div class="container">
                <ol>
                    <li><a href="{% url 'main_app:index' %}">ГЛАВНАЯ</a></li>
                    <li><a href="#">ПОЛЬЗОВАТЕЛИ</a></li>
                    <li>{{ profile.user }}</li>
                </ol>
                <h2>Профиль пользователя: {{ profile.user }}</h2>
            </div>
        </section><!-- End Breadcrumbs -->
{% endblock %}

{% block Main %}
    <main id="main">
        <section id="blog" class="blog">
            <div class="container" data-aos="fade-up">
                <div class="row">
                    <div class="card mb-3 border-0 nth-shadow">
                        <div class="card-body">
                            <div class="card-title nth-card-title">
                                <h4>Изменение профиля</h4>
                            </div>
                            <form method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                {{ user_form.as_p }}
                                {{ form.as_p }}
                                <img src="{{ qrcode }}">
                                <div class="d-grid gap-2 d-md-block mt-2">
                                    <button type="submit" class="btn btn-dark">Подтвердить изменение профиля</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}