{% extends 'main_app/base.html' %}
{% load static %}

{% block Breadcrumbs %}
{% endblock %}

{% block Main %}
    <main id="main">
        <section id="blog" class="blog">
            <div class="container" data-aos="fade-up">
                <div class="row">
                    <div class="account-pages my-5 pt-5">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-md-8 col-lg-6 col-xl-5">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="text-center mt-4">
                                                <div class="mb-3">
                                                    <a href="{% url 'main_app:index' %}" class="auth-logo">                                                        
                                                        <img src="{% static 'assets/img/logo.png' %}" height="30"
                                                             class="logo-light mx-auto"
                                                             alt=""> REQSOFT
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="p-3">
                                                <h4 class="font-size-18 text-muted mt-2 text-center">С возвращением!</h4>
                                                <p class="text-muted text-center mb-4">Войдите в систему, чтоб продолжить работу с сайтом.</p>

                                                <form class="form-horizontal" action="{% url 'customeuser_app:login' %}" method="post">
                                                    {% csrf_token %}
                                                    <div class="mb-3">
                                                        <label class="form-label" for="username">Логин</label>
                                                        <input type="text" class="form-control" id="id_username"
                                                               name="username" placeholder="Введите логин">
                                                    </div>
                                                    <div class="mb-3">
                                                        <label class="form-label" for="password">Пароль</label>
                                                        <input type="password" class="form-control" id="id_password"
                                                               name="password" placeholder="Введите пароль">
                                                    </div>
                                                    <div class="mb-3 row mt-4">
                                                        <div class="col-sm-6">
                                                            <div class="form-checkbox">
                                                                <input type="checkbox" class="form-check-input me-1"
                                                                       id="customControlInline">
                                                                <label class="form-label" class="form-check-label"
                                                                       for="customControlInline">Запомнить меня</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6 text-end">
                                                            <button class="btn btn-primary w-md waves-effect waves-light"
                                                                    type="submit">Войти
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-12 mt-4">
                                                            <a href="#" class="text-muted"><i
                                                                    class="mdi mdi-lock"></i> Забыли пароль?</a>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="mt-5 text-center">
                                        <p>© {% now "Y" %} REQSOFT</p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}