{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>REQSOFT {{ title }}</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="{% static 'assets/img/favicon.png' %}" rel="icon">
    <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">

</head>
<body>

{% block Header %}
    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top">
        <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
            <a href="/admin/" class="logo d-flex align-items-center">
                <img src="{% static 'assets/img/logo.png' %}" alt="">
                <span>REQSOFT</span>
            </a>
            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="nav-link scrollto active" href="{% url 'main_app:index' %}">ГЛАВНАЯ</a></li>
                    {% if request.user.is_authenticated %}
                    <li class="dropdown"><a href="{% url 'blog_app:article_list' %}">СТАТЬИ <i class="bi bi-chevron-down"></i></a>
                    {% load mptt_tags %}
                    {% full_tree_for_model blog_app.Category as categories %}
                        <ul>
                            {% recursetree categories %}
                                        <li class="dropdown"><a href="{{ node.get_absolute_url }}">{{ node.title }}</a>
                                            {% if not node.is_leaf_node %}
                                                <ul>{% endif %}{{ children }}{% if not node.is_leaf_node %}</li>
                                                </ul>{% endif %}</li>
                                    {% endrecursetree %}
                        </ul>  
                    </li>                     
                                       
                    <li class="dropdown"><a href="#"><span>ФАЙЛЫ</span> <i class="bi bi-chevron-down"></i></a>
                        <ul>
{#                            <li><a href="#">Drop Down 1</a></li>#}
{#                            <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i#}
{#                                    class="bi bi-chevron-right"></i></a>#}
{#                                <ul>#}
{#                                    <li><a href="#">Deep Drop Down 1</a></li>#}
{#                                </ul>#}
{#                            </li>#}
                        </ul>
                    </li>

                    <li class="dropdown megamenu"><a href="#"><span>ПРОФИЛЬ</span> <i class="bi bi-chevron-down"></i></a>
                        <ul>
                            <li>
                                <a href="{% url 'customeuser_app:profile_detail' user.pk %}" class="w-100 btn btn-light btn-px-4 py-3 mt-2 border font-weight-semibold text-color-dark text-3">Мой профиль</a>
                                <a href="{% url 'blog_app:category_create' %}" class="w-100 btn btn-light btn-px-4 py-3 mt-2 border font-weight-semibold text-color-dark text-3">Добавить категорию</a>
                                <a href="{% url 'blog_app:articles_create' %}" class="w-100 btn btn-light btn-px-4 py-3 mt-2 border font-weight-semibold text-color-dark text-3">Добавить статью</a>
                                <form method="post" action="{% url 'customeuser_app:logout' %}">
                                    {% csrf_token %}
                                    <button type="submit" class="w-100 submit-button btn btn-info btn-px-4 py-3 mt-2 border font-weight-semibold text-color-dark text-3">Выход</button>
                                </form>
                            </li>
                        </ul>
                    </li>
                    {% endif %}
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->
        </div>
    </header>
    <!-- End Header -->
{% endblock %}

{% block Hero %}
{% endblock %}

{% block Breadcrumbs %}
{% endblock %}

{% include 'main_app/messages.html' %}

{% block Main %}
{% endblock %}


{% block Footer %}
<footer id="footer" class="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row gy-4">
          <div class="col-lg-5 col-md-12 footer-info">
            <a href="{% url 'main_app:index' %}" class="logo d-flex align-items-center">
              <img src="{% static 'assets/img/logo.png' %}" alt="">
              <span>REQSOFT</span>
            </a>
{#            <p>Cras fermentum odio eu feugiat lide par naso tierra. Justo eget nada terra videa magna derita valies darta donna mare fermentum iaculis eu non diam phasellus.</p>#}
{#            <div class="social-links mt-3">#}
{#              <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>#}
{#              <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>#}
{#              <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>#}
{#              <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>#}
{#            </div>#}
          </div>
          <div class="col-lg-2 col-6 footer-links">
{#            <h4>Useful Links</h4>#}
{#            <ul>#}
{#              <li><i class="bi bi-chevron-right"></i> <a href="#">Home</a></li>#}
{#              <li><i class="bi bi-chevron-right"></i> <a href="#">About us</a></li>#}
{#              <li><i class="bi bi-chevron-right"></i> <a href="#">Services</a></li>#}
{#              <li><i class="bi bi-chevron-right"></i> <a href="#">Terms of service</a></li>#}
{#              <li><i class="bi bi-chevron-right"></i> <a href="#">Privacy policy</a></li>#}
{#            </ul>#}
          </div>

          <div class="col-lg-2 col-6 footer-links">
{#            <h4>Our Services</h4>#}
{#            <ul>#}
{#              <li><i class="bi bi-chevron-right"></i> <a href="#">Web Design</a></li>#}
{#              <li><i class="bi bi-chevron-right"></i> <a href="#">Web Development</a></li>#}
{#              <li><i class="bi bi-chevron-right"></i> <a href="#">Product Management</a></li>#}
{#              <li><i class="bi bi-chevron-right"></i> <a href="#">Marketing</a></li>#}
{#              <li><i class="bi bi-chevron-right"></i> <a href="#">Graphic Design</a></li>#}
{#            </ul>#}
          </div>

          <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
{#            <h4>Contact Us</h4>#}
{#            <p>#}
{#              A108 Adam Street <br>#}
{#              New York, NY 535022<br>#}
{#              United States <br><br>#}
{#              <strong>Phone:</strong> +1 5589 55488 55<br>#}
{#              <strong>Email:</strong> info@example.com<br>#}
{#            </p>#}
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>REQSOFT</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        Designed by <a href="https://reqsoft.ru/"> Shakirov Vitaliy</a>
      </div>
    </div>
  </footer><!-- End Footer -->
{% endblock %}


<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="{% static 'assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
<script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
<script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
<script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
<script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>

<!-- Template Main JS File -->
<script src="{% static 'assets/js/main.js' %}"></script>

{% block script %}{% endblock %}

</body>

</html>