{% if page_obj.has_other_pages %}
    <div class="blog-pagination">
        <ul class="justify-content-center">
            <li>
                <a href="{% if page_obj.has_previous %}?{{ s }}page={{ page_obj.previous_page_number }}{% endif %}"><i class="ri-skip-back-fill"></i></a>
            </li>
            {% for p in page_obj.paginator.page_range %}
                {% if page_obj.number == p %}
                    <li class="active"><a href="#">{{ p }}</a></li>
                {% elif p > page_obj.number|add:-3 and p < page_obj.number|add:3 %}
                    <li><a href="?{{ s }}page={{ p }}">{{ p }}</a></li>
                {% endif %}
            {% endfor %}
            <li>
                <a href="{% if page_obj.has_next %}?{{ s }}page={{ page_obj.next_page_number }}{% endif %}"><i class="ri-skip-forward-fill"></i></a>
            </li>
        </ul>
    </div><!-- End blog pagination -->
{% endif %}

